<div class="header">
   <div class="header-left">
    <div class="logo">
      <h3>inflecktion</h3>
    </div>
    <div class="menu">
      <p-floatlabel class="w-full md:w-56" variant="in">
        <p-select
          [(ngModel)]="selectedMenu"
          inputId="in_label"
          [options]="optionMenu"
          optionLabel="label"
          styleClass="w-full"
          variant="filled"
        />
        <label for="in_label">Power Plate</label>
      </p-floatlabel>
    </div>
   </div>
  <div class="test">
    <div class="circle">
      <span>HD</span>
    </div>
    <div class="text">
      <span>Test</span>
      <span>User</span>
    </div>
  </div>
</div>
